/****** Object:  Table [dbo].[TiposCampo]    Script Date: 08/29/2012 23:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TiposCampo](
	[TipoCampo_Id] [varchar](100) NOT NULL,
	[UsaLista] [bit] NOT NULL,
	[UsaFiltro] [bit] NOT NULL,
	[UsaValidacao] [bit] NOT NULL,
 CONSTRAINT [PK_TiposCampo] PRIMARY KEY CLUSTERED 
(
	[TipoCampo_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Telas]    Script Date: 08/29/2012 23:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Telas](
	[Processo_Id] [nvarchar](50) NOT NULL,
	[Tabela] [varchar](100) NOT NULL,
	[PodeAlterar] [bit] NOT NULL,
	[PodeExcluir] [bit] NOT NULL,
	[TemRelatorio] [bit] NOT NULL,
 CONSTRAINT [PK_Telas] PRIMARY KEY CLUSTERED 
(
	[Processo_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TelaCampos]    Script Date: 08/29/2012 23:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TelaCampos](
	[Campo_Id] [varchar](200) NOT NULL,
	[Processo_Id] [nvarchar](50) NOT NULL,
	[Rotulo] [varchar](100) NOT NULL,
	[Campo] [varchar](100) NOT NULL,
	[MaximoCaracteres] [int] NOT NULL,
	[Obrigatorio] [bit] NOT NULL,
	[TipoCampo_Id] [varchar](100) NOT NULL,
	[Sequencia] [int] NOT NULL,
	[EChave] [bit] NOT NULL,
	[TipoDado] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TelaCampos] PRIMARY KEY CLUSTERED 
(
	[Campo_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[ListaColunas]    Script Date: 09/26/2012 13:21:39 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ListaColunas](
	[Processo_Id] [nvarchar](50) NOT NULL,
	[Coluna_Id] [varchar](100) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Tabela] [varchar](100) NOT NULL,
	[Campo] [varchar](100) NOT NULL,
	[TamanhoInicial] [int] NOT NULL,
	[Ordenavel] [bit] NOT NULL,
	[Alinhamento] [int] NOT NULL,
	[Sequencia] [int] NOT NULL,
	[Chave] [bit] NOT NULL,
	[TipoDado] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ListaColunas] PRIMARY KEY CLUSTERED 
(
	[Processo_Id] ASC,
	[Coluna_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[ListaSelecao]    Script Date: 09/26/2012 13:21:33 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ListaSelecao](
	[Processo_Id] [nvarchar](50) NOT NULL,
	[TextoConsulta] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_ListaSelecao] PRIMARY KEY CLUSTERED 
(
	[Processo_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[ValoresCampo]    Script Date: 09/24/2012 22:39:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ValoresCampo](
	[Campo_Id] [varchar](200) NOT NULL,
	[Tabela] [varchar](100) NOT NULL,
	[CampoTexto] [varchar](100) NOT NULL,
	[CampoValor] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ValoresCampo] PRIMARY KEY CLUSTERED 
(
	[Campo_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  ForeignKey [FK_Telas_Processos]    Script Date: 08/29/2012 23:26:15 ******/
ALTER TABLE [dbo].[Telas]  WITH CHECK ADD  CONSTRAINT [FK_Telas_Processos] FOREIGN KEY([Processo_Id])
REFERENCES [dbo].[Processos] ([Processo_Id])
GO
ALTER TABLE [dbo].[Telas] CHECK CONSTRAINT [FK_Telas_Processos]
GO
/****** Object:  ForeignKey [FK_TelaCampos_Telas]    Script Date: 08/29/2012 23:26:15 ******/
ALTER TABLE [dbo].[TelaCampos]  WITH CHECK ADD  CONSTRAINT [FK_TelaCampos_Telas] FOREIGN KEY([Processo_Id])
REFERENCES [dbo].[Telas] ([Processo_Id])
GO
ALTER TABLE [dbo].[TelaCampos] CHECK CONSTRAINT [FK_TelaCampos_Telas]
GO
/****** Object:  ForeignKey [FK_TelaCampos_TiposCampo]    Script Date: 08/29/2012 23:26:15 ******/
ALTER TABLE [dbo].[TelaCampos]  WITH CHECK ADD  CONSTRAINT [FK_TelaCampos_TiposCampo] FOREIGN KEY([TipoCampo_Id])
REFERENCES [dbo].[TiposCampo] ([TipoCampo_Id])
GO
ALTER TABLE [dbo].[TelaCampos] CHECK CONSTRAINT [FK_TelaCampos_TiposCampo]
GO

/****** Object:  ForeignKey [FK_ValoresCampo_TelaCampos]    Script Date: 09/24/2012 22:39:04 ******/
ALTER TABLE [dbo].[ValoresCampo]  WITH CHECK ADD  CONSTRAINT [FK_ValoresCampo_TelaCampos] FOREIGN KEY([Campo_Id])
REFERENCES [dbo].[TelaCampos] ([Campo_Id])
GO
ALTER TABLE [dbo].[ValoresCampo] CHECK CONSTRAINT [FK_ValoresCampo_TelaCampos]
GO

ALTER TABLE [dbo].[ListaColunas]  WITH CHECK ADD  CONSTRAINT [FK_ListaColunas_Telas] FOREIGN KEY([Processo_Id])
REFERENCES [dbo].[Telas] ([Processo_Id])
GO

ALTER TABLE [dbo].[ListaColunas] CHECK CONSTRAINT [FK_ListaColunas_Telas]
GO

ALTER TABLE [dbo].[ListaSelecao]  WITH CHECK ADD  CONSTRAINT [FK_ListaSelecao_Telas] FOREIGN KEY([Processo_Id])
REFERENCES [dbo].[Telas] ([Processo_Id])
GO

ALTER TABLE [dbo].[ListaSelecao] CHECK CONSTRAINT [FK_ListaSelecao_Telas]
GO
